<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="stylesheet" href="styles/compra.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" /> 
    <title>Comprar RDR2 - XBOX</title>
</head>
<header>
    <header id="header">
        <div class="header">
                <div class="content">
                    
                    <div class="principal">
            
        
                    </div>
    
                    
                        <div class="logo">
                            <p></p>
    
                            <a href="./"><img src="" alt="">Games</a>
                            
                            <p></p>
                        </div>
    
                        <div class="buscar"> 
                            
                            <form>
                                
                                <input type="text" placeholder="O que você procura?">
                                <button><span class="material-symbols-outlined">
                                    search
                                    </span></button>
                                </form> 
                        
                            </div>
                            
                            <div class="cliente">
    
                                <legend>R$ 0,00<span class="material-symbols-outlined">
                                        shopping_cart</span></legend>
                                
            
                            </div>
                            
                    </div>
                </div>
            </header>
    
            <nav class="sobre">
                <div id="conteiner">
                    <ul>
                        <li><a href="./cursos.html">PLAYSTATION 4</a></li>
                        <li><a href="https://ifpb.edu.br/">PLAYSTATION 5</a></li>
                        <li><a href="https://ifpb.edu.br/transparencia/">XBOX</a></li>
                        <li><a href="">CARTÕES PRÉ-PAGOS</a></li>
                        <li><a href="https://estudante.ifpb.edu.br/cursos/contato/">SUPORTE</a></li>
                    </ul>
                    
                </div>
                
            </nav>
    
            <div class="barra">
                    <p>Você está em: Home -> Loja -> Red Dead Redemption 2 - XBOX  </p>
            </div>
<body>

    <main class="main">
    

            <div class="img">
                <img src="assets/images/red-dead-redemption-xbox-cover.jpg" alt="">
            </div>
            <div class="sell-box">
                <legend>Economize 59%</legend>
                <h3>Red Dead Redemption 2 - Xbox</h3>
                <h1>R$ 59,00</h1>
                <p>3x R$ 19,00 sem juros</p>
                <a href="/retirada?game=rdr2">
                    <button>Agendar Retirada</button>
                </a>
            </div>
    </main>
    <div class="descricao">

       
          <h1>Descrição do Produto</h1>
                <p>Red Dead Redemption 2 inclui : Modo História e Red Dead Online.</p>
                <p>Vencedor de mais de 175 prêmios de Jogo do Ano e avaliado com mais de 250 notas máximas, Red Dead Redemption 2 é uma história épica de honra e lealdade no alvorecer dos tempos modernos.</p>
                <p>Estados Unidos, 1899. Arthur Morgan e a gangue Van der Linde são forçados a fugir. Com agentes federais e os melhores caçadores de recompensas no seu encalço, a gangue precisa roubar, assaltar e lutar para sobreviver no impiedoso coração dos Estados Unidos. Conforme divisões internas profundas ameaçam despedaçar a gangue, Arthur deve fazer uma escolha entre os seus próprios ideais e a lealdade à gangue que o criou.</p>
                <p>Red Dead Redemption 2 também inclui o mundo compartilhado de Red Dead Online – trilhe seu próprio caminho enquanto enfrenta autoridades, gangues fora da lei e animais selvagens ferozes para construir uma vida na fronteira dos Estados Unidos. Monte um acampamento, cavalgue com ou sem um bando e explore tudo, das montanhas nevadas no norte aos pântanos do sul, de postos remotos a fazendas agitadas e cidades vibrantes. Vá atrás de recompensas, cace, pesque e negocie, procure tesouros exóticos, toque sua própria destilaria clandestina de Moonshine ou se torne Naturalista para aprender os segredos do reino animal e muito mais num mundo rico em detalhes. Inclui todos os recursos, conteúdos e melhorias adicionados desde o lançamento.</p>
          
          <h1>Dúvidas Frequentes</h1>

                <div class="accordion">

                    <div class="item">
                        <button class="accordion-btn">O jogo é original?</button>
                        <div class="conteudo">
                            <legend>Sim</legend>
                        </div>
                    </div>

                    <div class="item">
                        <button class="accordion-btn">Posso jogar on-line?</button>
                        <div class="conteudo">
                            <legend>Sim</legend>
                        </div>
                    </div>
                    
                    <div class="item">
                        <button class="accordion-btn">Como irei receber?</button>
                        <div class="conteudo">
                            <legend>E-mail</legend>
                        </div>
                    </div>
                
                </div>
        
    </div>
</body>
<footer>
    
    <div class="footer">

        
        <form>
            <h2>Receba ofertas por e-mail:</h2>
    
            <input type="text" placeholder="Digite seu e-mail aqui">
            <button type="submit">CADASTRAR</button>
        </form>
    
    <div class="footer-top-wrapper">
        <!-- <section class="footer-top">
          
        </section> -->
        <section>
            <menu>
                <h2>Empresa</h2>
                <li>
                    <a>Política de Privacidade</a>
                </li>
                <li>
                    <a>Depoimentos</a>
                </li>
                <li>
                    <a>Fale Conosco</a>
                </li>
                <li>
                    <a>Termos de Compra</a>
                </li>
            </menu>
        </section>
        <section>
            <menu>
                <h2>Cliente</h2>
                <li>
                    <a>Prazos de Entrega</a>
                </li>
                <li>
                    <a>Formas de Pagamento</a>
                </li>
                <li>
                    <a>Reembolso e Cancelamento</a>
                </li>
                <li>
                    <a>Meus Pedidos</a>
                </li>
            </menu>
        </section>
        <section>
            <menu>
                <h2>Produtos e Serviços</h2>
                <li>
                    <a>PlayStation 4</a>
                </li>
                <li>
                    <a>PlayStation 5</a>
                </li>
                <li>
                    <a>Xbox</a>
                </li>
                <li>
                    <a>Outro</a>
                </li>
            </menu>
        </section>
    </section>
      
    </div>
</div>
</footer>
<script src="js/paginaCompra.js"></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</html>