<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Retirada Agendada</title>
</head>
<body>
    <header id="header">
        <div class="header">
            <div class="content">
                <div class="principal">
                </div>
                <div class="logo">
                    <p></p>
                    <a href="./"><img src="" alt="">Games</a>
                    <p></p>
                </div>
                <div class="buscar">  
                    <form>
                        <input type="text" placeholder="O que você procura?">
                        <button type="submit"><span class="material-symbols-outlined">
                            search
                            </span></button>
                    </form> 
                </div>
                <div class="cliente">
                    <legend>R$ 0,00<span class="material-symbols-outlined">
                            shopping_cart</span></legend>
                </div>
            </div>
        </div>
    </header>
        
    <nav class="sobre">
        <div id="conteiner">
            <ul>
                <li><a href="#">PLAYSTATION 4</a></li>
                <li><a href="#">PLAYSTATION 5</a></li>
                <li><a href="#">XBOX</a></li>
                <li><a href="#">CARTÕES PRÉ-PAGOS</a></li>
                <li><a href="#">SUPORTE</a></li>
            </ul>
        </div>
    </nav>

    <div class="main">
        <main>
            <h1>Retirada Agendada</h1>
            <p>Dirija-se à loja.</p>

            <div id="map" style="height: 400px; width: 100%;"></div>
            
            <h3>Detalhes da Retirada</h3>
            
        </main>
    </div>

    <footer>    
        <div class="footer">
            <form>
                <h2>Receba ofertas por e-mail:</h2>
                <input type="text" placeholder="Digite seu e-mail aqui">
                <button type="submit">CADASTRAR</button>
            </form>
    
            <div class="footer-top-wrapper">
                <section>
                    <menu>
                        <h2>Empresa</h2>
                        <li><a>Política de Privacidade</a></li>
                        <li><a>Depoimentos</a></li>
                        <li><a>Fale Conosco</a></li>
                        <li><a>Termos de Compra</a></li>
                    </menu>
                </section>
                <section>
                    <menu>
                        <h2>Cliente</h2>
                        <li><a>Prazos de Entrega</a></li>
                        <li><a>Formas de Pagamento</a></li>
                        <li><a>Reembolso e Cancelamento</a></li>
                        <li><a>Meus Pedidos</a></li>
                    </menu>
                </section>
                <section>
                    <menu>
                        <h2>Produtos e Serviços</h2>
                        <li><a>PlayStation 4</a></li>
                        <li><a>PlayStation 5</a></li>
                        <li><a>Xbox</a></li>
                        <li><a>Outro</a></li>
                    </menu>
                </section>
            </div>
        </div>
    </footer>
    
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</body>
</html>
